= form_for(@poll, class: 'form-horizontal') do |f|
  %label Name:
  = f.text_field :name, class: 'form-control', placeholder: "Enter topic of the poll"

  %h3 Questions
  = f.fields_for :questions do |question_builder|
    = render partial: 'question', locals: { question: question_builder }

  %div
  = f.submit 'Submit', class: 'btn btn-primary'
