<div class="nested-fields">
  <div class="form-group row">
    <div class="col-xs-7">
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: 'Question here...', class: 'form-control'%>

      <%= f.check_box :_destroy, class: 'remove_record' %>
      <%= f.label 'Delete' %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Poll Answers</div>
    <div class="panel-body answer_fields">
      <%= f.fields_for :answers do |answer_builder| %>
        <%= render 'answer', f: answer_builder %>
      <% end %>
    </div>

    <%= link_to_add_answer('+ Add more answers', f, :answers, class: 'btn btn-secondary btn-sm') %>
  </div>
  <hr>
</div>
